body{
    background-color: rgb(69, 94, 85);
    
}

form{

    justify-content: center;
    background-color: rgb(218, 215, 215);
    border: 2 px solid chocolate;
    border-radius: 5%;
    text-align: center;
    align-items: none;
    align-content: center;
    line-height: 3px;
    height:100%;
    width: 30%;

    margin: auto;
    margin-top:10%;
    padding: 20px 10px;
    

    
}
select{
padding: 5px;
margin: 10px;

}
form input{

    margin-top: 4px;
}